
# Play Store Monitor sample config file
# Modify to your needs

# Time interval between checks
# can be anything of the form 6w5d4h3m2s1ms
timeInterval: '15m'

# App to monitor
appName: 'Pokémon GO'
packageName: 'com.nianticlabs.pokemongo'

# Email - SMTP
smtp:
  user: 'username@domain.com'
  password: 'secret'
  host: 'smtp.domain.com'
  ssl: true

# Email - Message
emailFrom: 'name <username@domain.com>'
emailTo: 'name <username@domain.com>'
